@font-face {
  font-family: "Gotham Pro";
  src: url("assets/fonts/GothamPro.woff2") format("woff2"), url("assets/fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("assets/fonts/GothamPro-Bold.woff2") format("woff2"), url("assets/fonts/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

button,
input {
  font-family: "Gotham Pro";
}
body {
  font-family: "Gotham Pro";
}

#calc,
#debug-info {
  max-width: 900px;
  margin: 100px auto 50px;
  border: 1px solid;
  padding: 20px;
}
#debug-info {
  margin-top: 50px;
}
.step {
  display: none;
}
.step.current {
  display: block;
}
.calc-header__stepsinner {
  display: flex;
  gap: 10px;
}
.sided-options {
  display: flex;
  gap: 50px;
}
.sided-options img {
  width: 150px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.sided-options input {
  visibility: hidden;
}
.sided-options input:checked + img {
  border: 1px solid #d6001c;
  border-radius: 5px;
}

#calc {
  box-shadow: 0 0 48px 0 rgba(0, 1, 1, 0.19);
  color: #5e5e5e;
  border: none;
  padding: 40px 30px;
  padding-top: 0;
}
.calc-header {
  padding-bottom: 20px;
  padding-top: 40px;
  border-bottom: 1px solid #ccc;
}

.calc-header__steps,
.calc-header__side {
  font-size: 20px;
  font-weight: 600;
}
.calc-header__side:after {
  content: "|";
  margin: 0 0 0 15px;
}
.btn-img {
  background: none;
  border: none;
  cursor: pointer;
  display: block;

  font-size: 12px;
  color: #555;
}

.sided-options label {
  cursor: pointer;
  font-size: 12px;
  color: #555;
  text-align: center;
}
.btn-img img {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  transition: border-color 0.3s;
  max-width: 148px;
}
.btn-img:hover img {
  border-color: #d6001c;
}
.sided-options label img {
  margin-bottom: 5px;
}

.step-selects {
  display: flex;
  gap: 20px;
}
#calc input {
  display: block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 0;
  outline: none;
  margin: 5px 0;
}

.btn-next {
  padding: 12px 35px;
  border: none;
  background: #d6001c;
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  margin: 5px 0;
  cursor: pointer;
  transition: background 0.3s;
}
.btn-next:hover {
  background: #b7001a;
}

.step__next,
.step__actions {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.step-3__inner {
  max-width: 400px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
}

.select2-container .select2-selection--single {
  height: auto !important;
}

.select2-results__option {
  padding: 0 !important;
}
.select2-results__option--highlighted {
  opacity: 0.7;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5a5a5a !important;
}
.select2-results__option--selectable {
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 350px !important;
}
.select2-selection__rendered {
  padding: 0 !important;
}

.select2-selection__rendered .opt_text {
  display: none !important;
}
.select2-selection__rendered img {
  display: block;
}
.plate-selection {
  position: relative;
  display: flex;
}
.js-remove-plate {
}
.select2-results__option {
  position: relative;
}
.select2-results__option img {
  display: block;
}
.opt_text {
  display: block;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: 30px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 600;
  color: #000 !important;
  opacity: 0.6;
}
.select2-results__option:not(:first-child) {
  border-top: 3px solid #000;
}
.step-3 {
  padding-top: 20px;
}
.icon-trash {
  display: block;
  background: center / cover
    url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='m20.015 6.506h-16v14.423c0 .591.448 1.071 1 1.071h14c.552 0 1-.48 1-1.071 0-3.905 0-14.423 0-14.423zm-5.75 2.494c.414 0 .75.336.75.75v8.5c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-8.5c0-.414.336-.75.75-.75zm-4.5 0c.414 0 .75.336.75.75v8.5c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-8.5c0-.414.336-.75.75-.75zm-.75-5v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-16.507c-.413 0-.747-.335-.747-.747s.334-.747.747-.747zm4.5 0v-.5h-3v.5z' fill-rule='nonzero'/%3E%3C/svg%3E");
  width: 15px;
  height: 15px;
}
.js-remove-plate {
  background: #d6001c;
  border: none;
  color: #fff;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s;
}
.js-remove-plate:hover {
  background: #b7001a;
}
.select2-container--default .select2-selection--single {
  border-radius: 4px 0 0 4px !important;
}
.plate-selection:first-child .select2-container--default .select2-selection--single {
  /* padding-left: 20px; */
}
.select2-selection__rendered[title="+ Add Plate"] {
  padding-left: 20px !important;
}
.select2-results__option.select2-results__option--disabled {
  display: none;
}
.btn-img {
  width: 150px;
  height: 150px;
}
.btn-img.--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.btn-img.--empty:hover {
  border-color: #d6001c;
}
.btn-img.--empty span {
  color: #ccc;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: block;
}

.radio-label {
  position: relative;
margin-bottom: 15px;
display: block;
padding-left: 10px;
}
.radio-label input {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.radio-label span{
  display: block;
  position: relative;
  padding-left: 20px;
}
.radio-label span:before{
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.radio-label span:after{
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #d6001c;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.radio-label input:checked + span:after{
  opacity: 1;
}